.page {
	background-color: #f7f7f7;
}

.header .navbar-inner {
	background-color: #3b5998;
	background-image: none;
	border-bottom-color: #3b5998;
}

.header a {
	color: #f7f7f7 !important;
	cursor: pointer;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.header a:hover {
	color: gold !important;
}

.tabbable>.nav-tabs>li>a {
	background-color: #8b9dc3;
	border-bottom-color: transparent;
	color: #444444;
	cursor: pointer;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.tabbable>.nav-tabs>li.active>a {
	background-color: #dfe3ee;
	color: #444444;
}
.tabbable>.tab-content {
	background-color: #dfe3ee;
	color: #444444;
}

.footer {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}